{% extends 'layout.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <center><h4>Yeni Kullanıcı Ekle</h4></center>
                </div>
                <div class="card-body">
                    <form action="{% url 'createNewUser' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Parola</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="repassword">Parola (Tekrar)</label>
                            <input type="password" name="repassword" class="form-control" required>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name='is_staff' id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Kullanıcı Rolü
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name='is_admin' id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Admin Rolü
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name='is_visitor' id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Ziyaretçi Rolü
                            </label>
                        </div>
                        <br>
                        
                        <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
